<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sint ut iusto beatae esse consequuntur! Soluta deleniti, minima unde, quaerat totam quisquam officia modi error blanditiis amet officiis exercitationem animi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, eum nemo iusto assumenda natus sint nesciunt officia accusantium maxime magnam quo eos, eveniet consequuntur sequi reprehenderit tempore cum dolores quasi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ratione, nesciunt numquam consectetur velit temporibus recusandae, necessitatibus repellat voluptatum maiores officiis labore eius distinctio, magni est facilis. Aperiam, aliquam sequi.</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>